<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item inline-list">By Price</a>
        <a href="" class="dropdown-item inline-list">By Rating</a>
        <a href="" class="dropdown-item inline-list">By Category</a>
        <a href="{% url 'products' %}" class="dropdown-item inline-list">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="glassware-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Glassware
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="{% url 'products' %}?category=bongs" class="dropdown-item">Bongs</a>
        <a href="{% url 'products' %}?category=dabbing_rigs" class="dropdown-item">Dabbing Rigs</a>
        <a href="{% url 'products' %}?category=bongs,dabbing_rigs" class="dropdown-item">All Glass</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="papers-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Rolling Papers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
        <a href="{% url 'products' %}?category=kingsize_papers" class="dropdown-item">King Size</a>
        <a href="{% url 'products' %}?category=pre-rolls" class="dropdown-item">Pre-Rolls</a>
        <a href="{% url 'products' %}?category=rolling_tips" class="dropdown-item">Tips</a>
        <a href="{% url 'products' %}?category=kingsize_papers,pre-rolls,rolling_tips" class="dropdown-item">All Papers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="accesories-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Accessories
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'products' %}?category=grinders" class="dropdown-item">Grinders</a>
        <a href="{% url 'products' %}?category=rolling_trays" class="dropdown-item">Rolling Trays</a>
        <a href="{% url 'products' %}?category=grinders,rolling_trays" class="dropdown-item">All Accessories</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="{% url 'products' %}?category=new_arrivals"
        id="new-arrivals-link"
      >
        New Arrivals
      </a>
    </li>
  </ul>
</div>
