<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item inline-list">By Price</a>
        <a href="" class="dropdown-item inline-list">By Rating</a>
        <a href="" class="dropdown-item inline-list">By Category</a>
        <a href="" class="dropdown-item inline-list">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="clothing-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Glassware
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="" class="dropdown-item">Bongs</a>
        <a href="" class="dropdown-item">Dabbing Rigs</a>
        <a href="" class="dropdown-item">Pipes</a>
        <a href="" class="dropdown-item">All Glass</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="homeware-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Rolling Papers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
        <a href="" class="dropdown-item">Regular</a>
        <a href="" class="dropdown-item">Flavoured</a>
        <a href="" class="dropdown-item">Pre-Rolls</a>
        <a href="" class="dropdown-item">Tips</a>
        <a href="" class="dropdown-item">All Papers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="#"
        id="specials-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Accessories
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="" class="dropdown-item">Grinders</a>
        <a href="" class="dropdown-item">Rolling Trays</a>
        <a href="" class="dropdown-item">Storage</a>
        <a href="" class="dropdown-item">Bags &amp; Cases</a>
        <a href="" class="dropdown-item">All Accessories</a>
      </div>
    </li>
  </ul>
</div>
